@import "tailwindcss";

/* ⭐ REQUIRED for Tailwind v4 dark: */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
@theme {
  --color-primary: #1e91f7;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #1e91f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.animate-scroll-right {
  display: flex;
  width: max-content;
  animation: scroll-right 20s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jost", system-ui, sans-serif;
  @apply text-base;
}

.hero-main{
  background: url(../public/images/bg-grey.png) no-repeat top center;
  background-size: cover;
}